# Git
*.patch

# Studio
*.iml
.DS_Store
.externalNativeBuild
.gradle
.idea
/annotations
/build
/captures
/local.properties

# ML
/_ml/.Python
/_ml/bin
/_ml/out
/_ml/export
/_ml/include
/_ml/lib
/_ml/out
/_ml/pip-selfcheck.json
/_ml/pyvenv.cfg

# Build
app/release
app/oss/release
app/googleFit/release

# ktlint
ktlint

# CI
/docker
gitlab.keystore
