*.patch
*.iml
.DS_Store
.externalNativeBuild
.gradle
.idea
/annotations
/build
/captures
/docker
/local.properties
/ml/.Python
/ml/bin
/ml/out
/ml/export
/ml/include
/ml/lib
/ml/out
/ml/pip-selfcheck.json
/ml/pyvenv.cfg
app/release
app/oss/release
app/googleFit/release
ktlint
