*.patch
*.iml
.DS_Store
.externalNativeBuild
.gradle
.idea
/annotations
/build
/captures
/legacy
/local.properties
/ml/.Python
/ml/bin
/ml/out
/ml/export
/ml/include
/ml/lib
/ml/out
app/release
ktlint
plugin/release
