<!--
  Copyright (c) 2019 Bevilacqua Joey

  Licensed under the GNU GPLv3 license

  The text of the license can be found in the LICENSE file
  or at https://www.gnu.org/licenses/gpl.txt
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.diab.overview">

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme" />
</manifest>
